<ul>
  <li *ngFor="let event of events">
    <img src="{{event.pic}}" alt="" height="50px">
    <img [src]="event.pic" alt="" height="50px">
    {{ event.name}}
    <button (click)="delete(event.id)">törlés</button>
  </li>
</ul>

<div>
  <label for="eventName">név:</label>
  <input type="text" #newEventNameInput id="eventName">
</div>

<div>
  <label for="eventPic">kép:</label>
  <input type="text" #newEventPicInput id="eventPic">
</div>

<div>
  <button (click)="add(newEventNameInput, newEventPicInput)"> ÚJ</button>
</div>
<pre>
  {{ events | json }}
</pre>
