<p>Helló Netacademia
----
</p>

<app-event></app-event>

<ul>
  <li>sziget</li>
  <li>efot</li>
  <li>fazen</li>
  <li>szin</li>
</ul>

<ul>
  <li *ngFor="let event of events">
    {{ event }}
  </li>
</ul>


<button
(click)     = "toogle()"
(dblclick)  = "demo($event)"
>Toggle</button>


<div *ngIf="show">
  <p>Nagy Gergő</p>
</div>


<div [ngClass] = "{ 'valami':show }">
  <p>ngClass demo</p>
</div>


<app-alma></app-alma>
<app-alma></app-alma>
<app-alma></app-alma>
<app-alma></app-alma>
<app-alma></app-alma>
<app-alma></app-alma>
